body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(120deg, #f0f8ff, #e0f7fa);
    color: #333;
    line-height: 1.6;
}

h2 {
  text-align: center;
  color: #2c3e50;+
}

p {
  text-align: center;
}

.container {
    margin: 2%;    
    padding: 4%;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display:flexbox;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px;
  font-size: large;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

nav ul li a:hover {
  color: #0077b6;
}

section {
  background-color: rgb(119, 152, 181);
  padding: 8%;
  margin: 3%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

section ul {
  margin-left: 20px;
}

a {
  display: block;
  text-align: center;
  margin: 10px auto;
  font-size: large;
  color: #0077b6;
  text-decoration: none;
}

a:hover {
  text-decoration:none;
}
