
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(120deg, #f0f8ff, #e0f7fa);
    color: #333;
    line-height: 2.6;

}

.container {
    margin: 2%;    
    padding: 4%;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display:flexbox;
    flex-wrap: wrap;
    font-size: large;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5rem;
    color: #0077b6;
}

.subtitle {
    font-size: 1.2rem;
    color: #555;
    margin-top: 10px;

}
section{
    padding: 10%;
    margin: 5%;
    background-color: antiquewhite;
}
 h2 {
    text-align: center;
    color: #023e8a;
    margin-bottom: 15px;
}

 ul {
    list-style: none;
}
ul li {
    margin: 40px 0;
    list-style: none;
}

nav a {
    
    text-decoration: none;
    font-size: 1.2rem;
    color: #539cd1;
    padding: 8px 2px;
    margin: 1px;
    display:flexbox;
    justify-items: center;
    gap: 1px;
    align-items: center;
    border-radius: 8px;
    list-style: none;
    font-size: large;
    text-decoration: none;
}
nav a:hover {
    transform: scale(1.1);
    background-color: #d0e7f9;
    color: #023e8a;

}
footer {
  text-align: center;
  padding: 20px;
  background-color: #f1f1f1; 
  margin-top: 50px;
}
